.Header {
    text-align: left;
  }
.Header img{
    height: 80px;
    display: block;
    margin: auto;
}
.Header nav{
    background-color: black;
    line-height: 40px;
    font-size: 20px;
    padding-left: 30px;
}
.Header nav a{
    text-decoration: none;
    color: white;
    margin-right: 15px ;
    padding: 6.5px 10px ;
    transition: all .5s ease-in-out;
}
.Header a:hover{
    color: white;
    background-color: gray;
}